<a href="https://colab.research.google.com/github/tuba89/MachineLearning/blob/main/Python_skills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Soltution Question 1***

In [ ]:
div = []
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        #print (i)
        div.append(i)
      
print(div)
print(type(div))

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]
<class 'list'>

# ***Solution Question 2***

* ***Méthode 01:***

In [ ]:
nb = int(input("Enter a Positive number : "))
f = 1

if nb < 0 :
    print("no factorial for negative number !")
else:
    for i in range(1,nb+1):
        f = f *i
    print("Factorial of number:",nb,"= ",f)

Enter a Positive number : 5
Factorial of number: 5 =  120

* ***Méthode 02:***

In [ ]:
# with def
def factoriel(num):
    if num == 1:
        return 1
    else:
        return num * factoriel(num-1)
value = int(input("enter positive number : "))
print("Factorial of number:",value,"= ",factoriel(value))

enter positive number : 4
Factorial of number: 4 =  24

* ***Méthode 03:***

In [ ]:
# with math module
from math import * 
nombre = int(input("Entrez un nombre positive : "))
if nombre < 0 :
    print("no factorial for negative number !")
else:
    fact = factorial(nombre)
    print("Factoriel du nombre:",nombre,"= ",fact)

Entrez un nombre positive : 4
Factoriel du nombre: 4 =  24

# ***Solution Question 3***

In [ ]:
#the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}  
dict1 = {}
n = int(input("Enter an integer number : "))
for i in range(1, n+1):
    dict1.update({i:i*i}) 
print(dict1)

Enter an integer number : 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# ***Solution Question 4***

* ***Méthode 01:***

In [ ]:
# with input & without def
mystr = input("Enter the word : ")
n = int(input("Enter the index : "))
if len(mystr) > n:
    new_str = mystr[0:n:] + mystr[n+1::]
    print(f"missing_char('{mystr}',{n}) → '{new_str}'")
else:
    print("invalid index")

Enter the word : kitten
Enter the index : 4
missing_char('kitten',4) → 'kittn'

* ***Méthode 02:***

In [ ]:
# with def
def missing_char(mot, indx):
    if len(mot) > indx:
        mot = mot[0 : indx : ] + mot[indx + 1 : :]
        return mot
    else:
        return "invalid index"

print(missing_char('kitten', 1)) 
print(missing_char('kitten', 0)) 
print(missing_char('kitten', 4))

ktten
itten
kittn

# ***Solution Question 5***

In [ ]:
#Original array elements: [[0 1] [2 3] [4 5]] 
#Array to list: [[0, 1], [2, 3], [4, 5]] 

import numpy as np
origin = np.array([[0,1], [2,3], [4,5]])
myList = origin.tolist()
myList
print("origin type is = ", type(origin))
print("myList type is = ", type(myList))

origin type is =  <class 'numpy.ndarray'>
myList type is =  <class 'list'>

# ***Solution Question 6***

In [ ]:
#Original array1: [0 1 2] 

#Original array2: [2 1 0] 
import numpy as np
array1 = np.array([[0, 1, 2]])
array1
array2 = np.array([[2, 1, 0]])

covariance = np.cov(array1, array2)
print(covariance)

[[ 1. -1.]
 [-1.  1.]]

# ***Solution Question 7***

In [ ]:
from math import *
# Q = Square root of [(2 * C * D)/H] 
C = 50
H = 30
D = input("Enter numbers C,D,H (with comma separated) : " )
valeurs = []
i = [x for x in D.split(",")]
for item in i:
    q = str(int(round(sqrt((2*C*float(item))/H))))
    valeurs.append(q)



print(f"Square root of [(2 * C * D)/H] =",','.join(valeurs))

Enter numbers C,D,H (with comma separated) : 100,150,180
Square root of [(2 * C * D)/H] = 18,22,24